[Unit]
Description="HyTech Front-end"

[Service]
WorkingDirectory=/opt/hytech-frontend/
ExecStart=serve -s build
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target